body{
  background-color: #1c1c1c;
}

#features{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

#moving_label{
  color:#1c1c1c;
  font-family: Arial;
  font-size: 15em;
  background-color: white;
}

input{
  background-color: #1c1c1c;
  color: #ffff;
  border: solid;
  border-width: 0.01em;
  border-radius: 5px;
  font-family: Arial;
  font-size: 1.5em;
}

p{
  color: #ffff;
  font-family: Arial;
  font-size: 1.2em;
  margin-bottom: 10px;
}

h1{
  color: #ffff;
  font-family: Arial;
  font-size: 3em;
  margin-bottom: 10px;
}

h2{
  color: #ffff;
  font-family: Arial;
  font-size: 2.5em;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
}

label{
  color: #ffff;
  font-family: Arial;
  font-size: 1.5em;
  margin-bottom: 10px;
}

button{
  margin-top: 15px;
  color: #ffff;
  background-color: #1c1c1c;
  border-color: #ffff;
  font-size: 1.5em;
  padding: 10px 15px;
  border-width: 0.01em;
  border-radius: 5px;
  border: solid;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

button:hover{
  color: #1c1c1c;
  background-color: #ffff;
  border-color: #ffff;
}